<%- include('../template/head') -%>
<%- include('../template/nav') -%>
<div>
    <div class="container">
        <div class="container-home">
            <div class="view-home"> 
                <h2 class="font-home">Mantente organizado con Taskit</h2>
                <button id="redirectThis" onclick="" type="button" class="btn btn-info">Comienza ahora</button>
                <div>
                    <p class="msj-home"> Fácil, Cómodo & Rápido </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const element = document.getElementById("redirectThis")

    element.addEventListener("click", () => {
        window.location.href = "/categorias";
    })
</script>
<%- include('../template/footer') -%>

