<%- include('../template/head') -%>
<%- include('../template/nav') -%>
<div class="bg-register">
    <div class="container">
        <div class="container-login">
            <div class="row">
                <h2 class="text-center title-register">Iniciar Sesión</h2>
            </div>
            <div class="row justify-content-center panel-login">
                <div class="col-6 reg-form-area">
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="firstname">Correo Eléctronico</label>
                            <input id="email" class="form-control" type="email"  name="email" required placeholder="Introduce tu correo eléctronico">
                        </div>
                        <div class="mb-3">
                            <label for="lastname">Contraseña</label>
                            <input class="form-control" type="password"  name="password" required placeholder="Introduce tu contraseña">
                        </div>                    
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </form>
                </div>
               
                <div class="col-3 btns-login">
                    <!-- <a class="btn btn-light custom-gbtn" href='/auth/google'> -->
                    <a class="btn btn-light custom-gbtn login-with-google-btn" href='/auth/google'>
                        <i class="bi"></i> Continuar con Google
                    </a>
                    <a class="btn btn-primary custom-gbtn fb connect" href='/auth/facebook'>
                        <i class="bi"></i> Continuar con Facebook
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/footer') -%>