<%- include('../template/head') -%>
<%- include('../template/nav') -%>

<div class="bg-register">
    <div class="container container-register">
        <div class="row">
            <h2 class="text-center title-register">Registro de usuarios</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 reg-form-area">
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="firstname">Nombre<p class="msj-register">*</p></label>
                        <input id="name" class="form-control" type="text"  name="firstname" required placeholder="Ingresa tu nombre">
                    </div>
                    <div class="mb-3">
                        <label for="lastname">Apellido<p class="msj-register">*</p></label>
                        <input class="form-control" type="text"  name="lastname" required placeholder="Ingresa tu apellido">
                    </div>
                    <div class="mb-3">
                        <label for="email">Email<p class="msj-register">*</p></label>
                        <input class="form-control" type="email" name="email" required placeholder="Ingresa un correo electrónico" >
                    </div>
                    <div class="mb-3">
                        <label for="password">Contraseña<p class="msj-register">*</p></label>
                        <input class="form-control" type="password"  name="password" required placeholder="Ingresa una constraseña">
                    </div>
                    <button class="btn btn-primary" type="submit"> Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../template/footer') -%>