<<<<<<< HEAD
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                &copy; Copyright 2021
            </div>
        </div>
    </div>
</footer>
=======
    <footer>
        Todos los derechos reservados
    </footer>

>>>>>>> 3bb8c9890afa893be4b859f6b08b40989422bfb2
</body>
</html>